doctype html
html
  head
    title= '5chan'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(id="page_header")
      h1= '5chan'
    div(id="message_box")
    div(id="main")
    footer
      
    block content
      
    script(type="text/javascript" src="/build/main.bundle.js")
